# fs
.DS_Store
thumbs.db

# Nodejs
.npm/
node_modules/
*.log*

# JetBrains
*.iml
.idea/

# develop
tests/
examples/
config/
.babelrc
.editorconfig
.eslintrc
.sass-lint.yml
*.md
gulpfile.js
webpack.stats.json
webpack.config.js
