<%
	/**
	 * @name index.ejs */

	/** Лейаут страницы */
	// app.setLayout('.ejs');

	/** расширение глобального объекта app
	 * @see module:core */
	// app.require('core.js')(app);

-%>
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>
	<p>lorem sdfsdf</p>
</body>
</html>

