<%
	/**
	 * @name index.ejs */

	/** Лейаут страницы */
	// app.setLayout('.ejs');

	/** расширение глобального объекта app
	 * @see module:core */
	// app.require('core.js')(app);

-%>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci debitis ducimus eius explicabo facilis harum id in inventore iste maxime, natus necessitatibus nostrum optio, provident, ratione reiciendis temporibus? Dolorem, et.</div>

