<%
	/**
	 * @name index.ejs
	 * @author Oleg Dutchenko <dutchenko.o.dev@gmail.com>
	 * @version 1.0.0
	 */

	// view layout
	app.setLayout('base.ejs');

	// view title
	app.block('view-title', 'Demonstration');
%>
<div class="page2page">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi minima quibusdam suscipit voluptates. Consectetur ex illum officiis vero. Aut dicta dolores eligendi exercitationem incidunt magnam optio quos, sequi tempore voluptatibus?</p>
</div>

<script src="../page2page/page2page.iife.js"></script>
<script>
	window.onload = function () {
		var p2p = window.page2page();
		console.log(p2p);
	};
</script>

